body{
    background: #eeeeee;
    font-family: Meiryo;
}
.content{
    background: #ffffff;
    width: 640px;
    padding: 10px;
    text-align: center;
    margin: 10px auto;
}
.flex{
    display: flex;
    -webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}
table{
    width: 300px;
    text-align: center;
    margin: 10px auto;
}
h1{
    font-size: 50px;
}

@media screen and (max-width: 481px){
    body{
        background: #eeeeee;
        font-family: Meiryo;
    }
    .content{
        background: #ffffff;
        width: 350px;
        padding: 5px;
        text-align: center;
        margin: 5px auto;
    }
    .flex{
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    table{
        width: 290px;
        text-align: center;
        margin: 10px auto;
    }
    h1{
        font-size: 30px;
    }
}