/* スマホ用 */
body{
    background: #eeeeee;
    font-family: 'Zen Maru Gothic', sans-serif;
    color: rgb(39, 39, 39);
}
.content{
    background: #ffffff;
    width: 350px;
    padding: 5px;
    text-align: center;
    margin: 5px auto;
}
.flex{ /* Tableを横並びさせない */
    list-style-type: none;
    margin: 0;
    padding: 0;
}
table{
    width: 290px;
    text-align: center;
    margin: 10px auto;
    border-collapse: collapse;
    border-spacing: 0;
}
table th,table td{
    padding: 10px 0;
    text-align: center;
}
.button { /* ボタンデザインはこのサイトで生成 https://webparts.cman.jp/button/submit/ */
    font-family: 'Zen Maru Gothic', sans-serif;
    display       : inline-block;
    border-radius : 5%;          /* 角丸       */
    font-size     : 12pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 5px 5px;   /* 余白       */
    background    : hsl(0, 91%, 63%);     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 1px 1px 4px #666666;  /* 影の設定 */
    border        : 2px solid hsl(0, 91%, 63%);    /* 枠の指定 */
  }
  .button:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    color         : hsl(0, 91%, 63%);     /* 背景色     */
    background    : #ffffff;     /* 文字色     */
  }
  .top_column{
    background: hsl(0, 81%, 89%);
}
h1{
    font-size: 30px;
    margin: 0;
}
h3{
    font-size: 20px;
    margin: 0;
}

/* PC用 */
@media screen and (min-width: 481px){
    body{
        background: #eeeeee;
        font-family: 'Zen Maru Gothic', sans-serif;
        color: rgb(39, 39, 39);
    }
    .content{
        background: #ffffff;
        width: 640px;
        padding: 10px;
        text-align: center;
        margin: 10px auto;
    }
    .flex{/* Tableを横並びさせる */
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    table{
        width: 300px;
        text-align: center;
        margin: 10px auto;
        border-collapse: collapse;
        border-spacing: 0;
    }
    table th,table td{
        padding: 10px 0;
        text-align: center;
    }
    h1{
        font-size: 50px;
        margin: 0;
    }
    h3{
        font-size: 20px;
        margin: 0;
    }
    .top_column{
        background: hsl(0, 81%, 89%);
    }
    .button { /* ボタンデザインはこのサイトで生成 https://webparts.cman.jp/button/submit/ */
        font-family: 'Zen Maru Gothic', sans-serif;
        display       : inline-block;
        border-radius : 5%;          /* 角丸       */
        font-size     : 12pt;        /* 文字サイズ */
        text-align    : center;      /* 文字位置   */
        cursor        : pointer;     /* カーソル   */
        padding       : 5px 5px;   /* 余白       */
        background    : hsl(0, 91%, 63%);     /* 背景色     */
        color         : #ffffff;     /* 文字色     */
        line-height   : 1em;         /* 1行の高さ  */
        transition    : .3s;         /* なめらか変化 */
        box-shadow    : 1px 1px 4px #666666;  /* 影の設定 */
        border        : 2px solid hsl(0, 91%, 63%);    /* 枠の指定 */
      }
      .button:hover {
        box-shadow    : none;        /* カーソル時の影消去 */
        color         : hsl(0, 91%, 63%);     /* 背景色     */
        background    : #ffffff;     /* 文字色     */
      }
}