<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>あけおめ2022おみくじ</title>
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="content">
            <div class="content_title">
                <h1>インターネットおみくじ</h1>
                <h3>Internet Omikuji!!!</h3>
            </div>
            <p>今年の運勢はこれで決まり!</p>
            <p>10連ガチャもありますよ～～～!</p>

            <img src="./static/kujibako.png" width="100" height="120">

            <form action='/' method='POST'>
                <input type="submit" value="1回占う" class="button" name="send">
                <input type="submit" value="10回占う" class="button" name="send">
            </form>

            <div class="flex">

                <table border=1>
                </br>
                    <tr class="top_column"><th>おみくじ結果</th><th>レア度</th></tr>
                        {% for column in results: %}
                            {% if column[1] == "SR"%}
                                <tr><td>{{column[0]}}</td><td><font color="green"><b>{{column[1]}}</b></font></td></tr>

                            {% elif column[1] == "SSR"%}
                                <tr><td>{{column[0]}}</td><td><font color="red"><b>{{column[1]}}</b></font></td></tr>

                            {% elif column[1] == "逆にSSR?"%}
                                <tr><td>{{column[0]}}</td><td><font color="blue"><b>{{column[1]}}</b></font></td></tr>

                            {% elif column[1] == "UR"%}
                                <tr><td>{{column[0]}}</td><td><font color="darkorange"><b>{{column[1]}}</b></font></td></tr>

                            {% else %}
                                <tr><td>{{column[0]}}</td><td><b>{{column[1]}}</b></td><tr>
                            {% endif %}
                        {% endfor %}
                </table>

                <table border=1>
                </br>
                    <tr class="top_column">
                        <th>種類</th>
                        <th>レアリティ</th>
                        <th>排出確率</th>
                    </tr>
                    <tr>
                        <td>ウルトラ大吉</td>
                        <td>SSR</td>
                        <td>3%</td>
                    </tr>
                    <tr>
                        <td>大吉</td>
                        <td>SR</td>
                        <td>9%</td>
                    </tr>
                    <tr>
                        <td>中吉</td>
                        <td>R</td>
                        <td>15%</td>
                    </tr>
                    <tr>
                        <td>小吉</td>
                        <td>R</td>
                        <td>18%</td>
                    </tr>
                    <tr>
                        <td>吉</td>
                        <td>N</td>
                        <td>20%</td>
                    </tr>
                    <tr>
                        <td>末吉</td>
                        <td>N</td>
                        <td>20%</td>
                    </tr>
                    <tr>
                        <td>ウルトラ凶</td>
                        <td>逆にSSR?</td>
                        <td>3%</td>
                    </tr>
                    <tr>
                        <td>シークレット</td>
                        <td>UR</td>
                        <td>1%</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>